<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title><%= title %></title>
  <link rel=stylesheet type="text/css" href="/css/css_style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="http://cdn.peerjs.com/0.3/peer.min.js"></script>

</head>


<body>

<script>
  var peer = new Peer({key: '9zqr9jbhn0mmfgvi' , debug: 3});


  peer.on('open', function(id) {

      console.log('My peer ID is: ' + id);

      $.ajax({
        type: 'POST',
        url: '/register',
        data: {
          id: id,
          name: 'test',
          hobby: 'test',
          gender: 'test',
          sexual: 'test',
          on_connect: true
        },
        success: function(msg) {
          //alert('Data Saved: ' + msg);
        },
        error:function(xhr, ajaxOptions, thrownError){
          alert(xhr.status);
          alert(thrownError);
        }
      });

  });


  function formSubmit() {
    var dest_peer_id = document.getElementById("peer_id").value;
    var conn = peer.connect(dest_peer_id);

    /*
    $.ajax({
      type: 'POST',
      url: '/games',
      data: {
        my_id: peer.id,
        destinated_id: dest_peer_id
      },
      success: function(data, textStatus, jqXHR) {
        window.location = data.redirect;
      },
      error:function(xhr, ajaxOptions, thrownError){
        alert(xhr.status);
        alert(thrownError);
      }
    });
  */

    document.getElementById("my_id").value = peer.id;
    document.getElementById("destinated_id").value = dest_peer_id;
    document.getElementById("host").value = true;
    $("#connect_form").submit();

    conn.on('data', function(data) {
      console.log('Received', data);
    });

    $("#send_data").click(function () {
        conn.send(document.getElementById("data").value);
    });

  }


  peer.on('connection', function(conn) {


    conn.on('data', function(data) {
      console.log('Received', data);
    });

    $("#send_data").click(function () {
      conn.send(document.getElementById("data").value);
    });

  });

</script>

	<div class="container">

		<header>

			<div class="header">

			</div>

			<div class="footer">
				<p class="footstyle">&copy; 2016 All Right Reserved. </p>
			</div>

		</header>


		<div class="sidebody">

      <form id = "connect_form" action="/games" method="POST">
        <input type="hidden" id="my_id" name="my_id" value=" " />
        <input type="hidden" id="destinated_id" name="destinated_id" value=" " />
        <input type="hidden" id="host" name="host" value=" " />
      </form>


      <input id="peer_id" name="peer_id" type="text">
      <button onclick="formSubmit() "> Submit </button>


      <input id="data" name="data" type="text">
      <button id="send_data" > Send </button>

		</div>


	</div>


</body>
</html>
